<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>轻语搜索</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo1.png">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/css/index1.css">

</head>
<body style="user-select: none">
<div class="search1" style="border: 0px solid black">
    <div class="logo1" style="width: 153px; padding: 20.6px 0; display: inline-block;"><a
            href="/index.html" target="_blank"><img src="images/logo2.png" alt=""></a>
    </div>


    <nav class="navmargin navbar navbar-default" role="navigation">
        <div class="shurukuang" style="padding: 20.6px 30px;">
            <form class="bs-example" id="test" role="form" action="musicLink/getSongRearch" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">

                            <input type="text" id="songName" name="songName" class="form-control" placeholder="为音乐而生">
                            <span class="input-group-btn">
								  <button id="select" onclick="sel()"
                                          class="btn btn-default"
                                          type="button"/>
                                        搜索
                                </button>
							</span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </form>
        </div>
        <a style="font-size:14px;float: right;margin: 20px"
           href="/mymusic.html" target="_blank">点击跳转我的音乐...</a>
    </nav>

</div>

<div class="row">

    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="content_toolbar" style="border: 0px solid red;margin-left: 165px">
                <a th:href="@{/myMusic/next(song_id=(0),musicListId=(${musiclist_infos.get(0).musiclistId}))}"><span
                        class="glyphicon glyphicon-play">播放全部</span></a>
                <span class="glyphicon glyphicon-plus-sign"> 添加到</span>
                <span class="glyphicon glyphicon-download-alt"> 下 载</span>
                <span class="glyphicon glyphicon-trash"> 删 除</span>
                <span class="glyphicon glyphicon-fire"> 清空列表</span>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table style="width: 1200px;margin: auto; overflow: auto;">
                        <thead>
                        <tr style="border-bottom: 1px solid #919191;line-height: 35px;" th:text="${session.name}">
                            <th style="text-align: center;font-size: 20px">序号</th>
                            <th style="text-align: center;font-size: 20px">歌名</th>
                            <th style="text-align: center;font-size: 20px">歌手</th>
                        </tr>
                        </thead>
                        <tbody style="font-size: 16px">

                        <tr th:each="list,start:${musiclist_infos}" th:ondblclick="|selMusic(${list.MusicId})|">
                            <!--  <a th:href="@{/selMusic(id=${list.MusicId})}">-->
                            <td th:text="${start.count}" class="number111"
                                style="padding: 14px;border-bottom: 1px solid #eee; width: 100px;text-align: center;"></td>

                            <td style="padding: 14px;border-bottom: 1px solid #eee;width: 600px;text-align: center;">
                                <a href="javascript:void(0)"
                                   th:text="${list.getMusics().get(0).getName()}"
                                   class="sName"
                                >data.music[i].name
                                    <!--  th:href="@{/selMusic(id=${list.MusicId})}"-->
                                </a>
                                <span class="glyphicon glyphicon-heart"
                                      th:onclick="|addMusicList(${list.MusicId})|"
                                      th:id="|sFav${list.MusicId}|"

                                      style="color: #eee;float: right;"></span></td>
                            <!--  </a>-->

                            <td style="padding: 14px;border-bottom: 1px solid #eee;width: 300px;text-align: center;">
                                <a
                                        th:text="${list.getMusics().get(0).getSingername()}" href="#">
                                    data.music[i].singername </a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <ul id="pagintor"></ul>
    </div>
</div>
</div>
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/bootstrap-paginator.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/tools.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/js/jquery.cookie.js"></script>


<script type="text/javascript">
    function addMusicList(id) {
        var json = {
            "song_id": id
        }
        $.post("/musicLink/addMusicCollect", json, function (data) {
            if (data.statusCode == "200") {
                $('#sFav' + id).css('color', '#ff69b4');
                alert("歌曲收藏成功，请去我的音乐查看！")

                //location.reload();
            } else if (data.statusCode == "201") {
                alert("亲！您已经收藏这首歌了哦，快去我的音乐中查看吧");
            } else if (data.statusCode == "1") {
                alert("请先登录您的账号");
            }
        }, "json")

    }



    function selMusic(id) {
        location.href = "/selMusic?id=" + id;
    }
</script>

</body>
</html>

