<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <title th:text="${music.name}+'/'+${music.singername}">轻语音乐</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/css/index1.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo1.png">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/jquery.mCustomScrollbar.js"></script>
    <script src="/js/player.js"></script>
</head>

<body style="user-select: none;">
<div class="header">
    <h1 class="logo"><a href="/index.html"></a></h1>
    <ul class="register">
        <li></li>
        <li>设置</li>
    </ul>
</div>
<div class="content">
    <div class="content_in">
        <div class="content_left">
            <div class="content_toolbar">
                <span class="glyphicon glyphicon-heart-empty"> 收 藏</span>
                <span class="glyphicon glyphicon-plus-sign"> 添加到</span>
                <span class="glyphicon glyphicon-download-alt"> 下 载</span>
                <span class="glyphicon glyphicon-trash"> 删 除</span>
                <span class="glyphicon glyphicon-fire"> 清空列表</span>
            </div>
            <div class="content_list" data-mcs-theme="minimal-dark">
                <ul id="sNamee">
                    <li class="list_title">
                        <!--<input type="checkbox" class="list_check"/>全选-->
                        <div class="list_number"></div>
                        <div class="list_name">歌曲</div>
                        <div class="list_singer">歌手</div>
                        <div class="list_time">时长</div>
                    </li>
                    <li th:each="musiclist:${musiclist_infos}" class="list_music">
                        <!--<div class="list_check"><i></i></div>-->
                        <div class="list_number"></div>
                        <div id="sName" th:onclick="|sel(${musiclist.musicId})|"
                             th:text="${musiclist.musics.get(0).name}" class="list_name"
                             style="cursor: pointer;">
                        </div>
                        <div th:text="${musiclist.musics.get(0).singername}" class="list_singer">
                        </div>
                        <div><a th:href="@{'/del?id='+${musiclist.id}+'&song_id='+${music.id}}"><span
                                class="glyphicon glyphicon-trash"></span></a>
                        </div>
                        <div class="list_time"><span class="time1"></span></div>
                    </li>


                    <!--<li th:each="musiclist:${musiclist_infos}" class="list_title">
                        <div class="list_check"><i></i></div>
                        <div class="list_number"></div>
                        <div th:text="${musiclist.musics.get(0).name}" th:onclick="sel(${musiclist.musics.get(0).id})"
                             style="cursor: pointer;"
                             class="list_name">歌曲
                        </div>
                        <div th:text="${musiclist.musics.get(0).singerId}" class="list_singer">歌手</div>
                        <div class="list_time">时长</div>
                    </li>-->

                </ul>
            </div>
        </div>
        <div class="content_right">
            <div class="song_info" style="margin: 100px">
                <a href="javascript:;" class="song_info_pic">
                    <img class="song_img" th:src="${music.musicpic}" src="/images/2.jpg" alt="" width="200px"
                         height="200px">
                </a>
                <div class="song_info_name ">歌曲名称：
                    <a class="songName" th:text="${music.name}" href="javascript:;">
                    </a>
                </div>
                <div class="song_info_singer">歌 手 名 ：
                    <a class="songSinger" th:text="${music.singername}" href="javascript:;">
                    </a>
                </div>
                <div class="song_info_ablum">专辑名称：
                    <a href="javascript:;">未知专辑

                    </a>
                </div>
            </div>
            <ul class="song_lyric">
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_in">
        <a th:href="@{/myMusic/pre(song_id=${music.id},musicListId=${musiclist_infos!=null}?${musiclist_infos.get(0).getMusiclistId()})}"
           class="music_pre"></a>
        <a href="javascript:;" class="music_play music_play2"></a>
        <a th:href="@{/myMusic/next(song_id=${music.id},musicListId=${musiclist_infos!=null}?${musiclist_infos.get(0).getMusiclistId()})}"
           class="music_next"></a>
        <div class="music_progress_info">
            <div class="music_progress_top">
                <span class="music_progress_name" th:text="${music.name}+'/'+${music.singername}">一吻天荒 / 胡歌</span>
                <span class="music_progress_time">00:00 / 00:00</span></div>
            <div class="music_progress_bar">
                <!--onclick="setCurTime()"-->
                <div onclick="setCurTime()" class="music_progress_line">
                    <div onclick="setCurTime()" class="music_progress_dot"></div>
                </div>
            </div>
            <!--  <audio controls="controls"
                     autoplay style="width: 500px;border: 0px;"
                     th:src="|/music/${music.address}|"></audio>-->
        </div>
        <a href="javascript:;" class="music_mode "></a>
        <a href="javascript:;" class="music_fav "></a>
        <a th:href="@{/down.do(filename=${music.address})}" class="music_down"></a>
        <a href="javascript:;" class="music_comment"></a>
        <a href="javascript:;" class="music_only "></a>
        <div class="music_voice_info">
            <a href="javascript:;" class="music_voice_icon"></a>
            <div class="music_voice_bar">
                <div class="music_voice_line">
                    <div class="music_voice_dot"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mask_bg">
    <img class="song_img" src="/images/touxiang2.jpg" alt="" width="100%" height="100%">
</div>
<div class="mask"></div>
<audio id="audio" th:src="|/music/${music.address}|" autoplay></audio>
<script src="/js/index.js"></script>
<script type="text/javascript">
    //工作原理代码见inde.js
    //getList2();
    function sel(id) {
        // var id = $(".id").val();
        location.href = "/myMusic/getMyMusicList?song_id=" + id;
    }

    function del(id) {
        alert();
    }


    function dle() {
        $.ajax({
            async: false,
            url: "/myMusic/deleteMyMusic",
            type: "post",
            data: {
                "song_id": $.cookie("ml_id"),
                "user_id": $.cookie("user_id"),
            },
            success: function (data) {//webspond
                if (data.statusCode == "200") {
                    window.location.reload();
                    alert("已成功从收藏列表移除");

                    //location.reload();
                } else {
                    alert("add error!" + data.statusMsg);
                }

            },

        })
    }//已在mymusic中注释


    // function enhanceVideoSeek(e){
    //     clearInterval(progressFlag);
    //     var length = e.pageX - progressWrap.offsetLeft;
    //     var percent = length / progressWrap.offsetWidth;
    //     playProgress.style.width = percent * (progressWrap.offsetWidth) - 2 + "px";
    //     video.currentTime = percent * video.duration;
    //     progressFlag = setInterval(getProgress, 60);
    // }
    //
    // function videoSeek(e){
    //     if(video.paused || video.ended){
    //         play();
    //         enhanceVideoSeek(e);
    //     }
    //     else{
    //         // 这句代码是控制允不允许点击进度条的； 不开启，就禁掉了点击事件快进快退
    //         enhanceVideoSeek(e);
    //     }
    //
    // }


    /* function settime() {
         alert("11111");
         var width = $(this).css("width");
         var duration = $("#audio").duration;
         var currentTime = width / 100 * duration;
         $("#audio").currentTime = currentTime;

     }*/
    /*$(".music_voice_icon").click(function () {
        alert("11");
        $(this).attr("class", "music_voice_icon 11");
    })*/

    /* function setvalue() {
         var $audio = $("audio");
         audio.muted = true;
     }*/
</script>
</body>