<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.music.qymusic.mapper.MusicrtypeMapper" >
  <resultMap id="BaseResultMap" type="com.group.music.qymusic.pojo.Musicrtype" >
    <result column="music_id" property="musicId" jdbcType="INTEGER" />
    <result column="musictype_id" property="musictypeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    music_id, musictype_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.group.music.qymusic.pojo.MusicrtypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from musicrtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.group.music.qymusic.pojo.MusicrtypeExample" >
    delete from musicrtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.music.qymusic.pojo.Musicrtype" >
    insert into musicrtype (music_id, musictype_id)
    values (#{musicId,jdbcType=INTEGER}, #{musictypeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.group.music.qymusic.pojo.Musicrtype" >
    insert into musicrtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="musicId != null" >
        music_id,
      </if>
      <if test="musictypeId != null" >
        musictype_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="musicId != null" >
        #{musicId,jdbcType=INTEGER},
      </if>
      <if test="musictypeId != null" >
        #{musictypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.music.qymusic.pojo.MusicrtypeExample" resultType="java.lang.Integer" >
    select count(*) from musicrtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update musicrtype
    <set >
      <if test="record.musicId != null" >
        music_id = #{record.musicId,jdbcType=INTEGER},
      </if>
      <if test="record.musictypeId != null" >
        musictype_id = #{record.musictypeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update musicrtype
    set music_id = #{record.musicId,jdbcType=INTEGER},
      musictype_id = #{record.musictypeId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>